
*{
    font-family:'Times New Roman', Times, serif;
    line-height: 1.6;
}
    header {
    background-color: #e5f0ff;
    padding: 1.5rem;
    text-align: center;
}
img{
    height:250px;
    width: 200px;
    border-radius: 50%;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
    color: #007acc;
    font-weight: bold;
    font-size: large;
}
.box{
    margin:5px;
    transition: transform o.5s ease;
    
}
.box:hover{
    transform: scale(1.1);
}
.heading {
    color:#007acc;
    border-bottom: 2px solid #e5f0ff;
    padding-bottom: 0.3rem;
}
    @media (max-width:724px){
    nav{
        flex-direction: column;
        justify-content: space-evenly;
    }
    
}
.slide-in-left {
opacity: 0;
transform: translateX(-30px);
animation: slideInLeft 1s ease forwards;
}

@keyframes slideInLeft {
to {
    opacity: 1;
    transform: translateX(0);
}
}